capstone.xml
<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit-soap="http://www.mulesoft.org/schema/mule/apikit-soap" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/apikit-soap http://www.mulesoft.org/schema/mule/apikit-soap/current/mule-apikit-soap.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <http:listener-config name="HttpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081"/>
    </http:listener-config>
    <apikit-soap:config httpStatusVarName="httpStatus" name="soapkit-config" port="UserPortSoap11" service="UserPortService" wsdlLocation="users.wsdl"/>
    <flow name="api-main">
        <http:listener config-ref="HttpListenerConfig" path="/user">
            <http:response statusCode="#[attributes.protocolHeaders.httpStatus default 200]">
            </http:response>
            <http:error-response statusCode="#[attributes.protocolHeaders.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
            </http:error-response>
        </http:listener>
        <apikit-soap:router config-ref="soapkit-config">
            <apikit-soap:attributes><![CDATA[#[%dw 2.0
              output application/java
              ---
              {
                  headers: attributes.headers,
                  method: attributes.method,
                  queryString: attributes.queryString
            }]]]></apikit-soap:attributes>
        </apikit-soap:router>
		<ee:transform doc:name="Transform Message" doc:id="48d1e1e1-c9d4-4feb-941f-b5e3d11ae184">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/xml
ns soapnv http://schemas.xmlsoap.org/soap/envelope/
ns soapns http://www.craftsoftware.com/users/
---
{
    body:{
    	 soapns#GetAllusers:
    	{firstname:null,
    	 last:null,
    	 department:null
    	}
    	},
       soapnv#Fault: {
            faultcode: "soap:Server",
            faultstring: "Operation [GetAllUsers:\soapkit-config] not implemented"
        }
    } write "application/xml"

    
    

    ]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
    <flow name="UpdateUser:\soapkit-config">
        <ee:transform doc:id="c71bc147-839e-4fb6-b0b4-187229d16e58">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/java
ns soap http://schemas.xmlsoap.org/soap/envelope
---
{
    body: {
        soap#Fault: {
            faultcode: "soap:Server",
            faultstring: "Operation [UpdateUser:\soapkit-config] not implemented"
        }
    } write "application/xml"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="GetAllUsers:\soapkit-config">
        <ee:transform doc:id="b9721913-1859-46fb-8d1e-a6a5f1a4b2e8">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/java
ns soap http://schemas.xmlsoap.org/soap/envelope
---
{
    body: {
        soap#Fault: {
            faultcode: "soap:Server",
            faultstring: "Operation [GetAllUsers:\soapkit-config] not implemented"
        }
    } write "application/xml"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="CreateUser:\soapkit-config">
        <ee:transform doc:id="1f8fe0f2-26dd-4187-935b-a72736324090">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/java
ns soap http://schemas.xmlsoap.org/soap/envelope
---
{
    body: {
        soap#Fault: {
            faultcode: "soap:Server",
            faultstring: "Operation [CreateUser:\soapkit-config] not implemented"
        }
    } write "application/xml"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="DeleteUser:\soapkit-config">
        <ee:transform doc:id="c5056c89-7339-4acc-b89d-0efa53e40b20">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/java
ns soap http://schemas.xmlsoap.org/soap/envelope
---
{
    body: {
        soap#Fault: {
            faultcode: "soap:Server",
            faultstring: "Operation [DeleteUser:\soapkit-config] not implemented"
        }
    } write "application/xml"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="GetUser:\soapkit-config">
        <ee:transform doc:id="bb58f0df-2c47-4f77-9ac2-dc2e0b63096d">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/java
ns soap http://schemas.xmlsoap.org/soap/envelope
---
{
    body: {
        soap#Fault: {
            faultcode: "soap:Server",
            faultstring: "Operation [GetUser:\soapkit-config] not implemented"
        }
    } write "application/xml"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
